AddType text/plain .md
AddCharset UTF-8 .css .html .js .md .txt .xml
Options +Indexes


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^_special/(.+)$ dispatch.php?p=_special/$1 [QSA,L]

RewriteRule ^bank$ dispatch.php?p=bank [QSA,L]
RewriteRule ^bank/(.+)$ dispatch.php?p=bank/$1 [QSA,L]

RewriteRule ^ctpl/(.+).mtt$ dispatch.php?p=ctpl/$1.mtt [QSA,L]

RewriteRule ^defm$ dispatch.php?p=defm [QSA,L]

RewriteRule ^defy$ dispatch.php?p=defy [QSA,L]
RewriteRule ^defy/(.+)$ dispatch.php?p=defy/$1 [QSA,L]

RewriteRule ^forum$ dispatch.php?p=forum [QSA,L]
RewriteRule ^forum/(.+)$ dispatch.php?p=forum/$1 [QSA,L]

RewriteRule ^game$ dispatch.php?p=game [QSA,L]
RewriteRule ^game/(.+)$ dispatch.php?p=game/$1 [QSA,L]

RewriteRule ^group$ dispatch.php?p=group [QSA,L]
RewriteRule ^group/(.+)$ dispatch.php?p=group/$1 [QSA,L]

RewriteRule ^head$ dispatch.php?p=head [QSA,L]

RewriteRule ^help$ dispatch.php?p=help [QSA,L]
RewriteRule ^help/(.+)$ dispatch.php?p=help/$1 [QSA,L]

RewriteRule ^log$ dispatch.php?p=log [QSA,L]

RewriteRule ^news$ dispatch.php?p=news [QSA,L]

RewriteRule ^partnerFrame$ dispatch.php?p=partnerFrame [QSA,L]

RewriteRule ^party/(.+)$ dispatch.php?p=party/$1 [QSA,L]

RewriteRule ^play$ dispatch.php?p=play [QSA,L]

RewriteCond %{QUERY_STRING} ^page=([^&]+)$
RewriteRule ^pvmsg/([0-9]+)/delete$ dispatch.php?p=pvmsg/[id]/delete&id=$1&page=%1 [L]
RewriteCond %{QUERY_STRING} ^page=([^&]+)$
RewriteRule ^pvmsg/([0-9]+)/report$ dispatch.php?p=pvmsg/[id]/report&id=$1&page=%1 [L]
RewriteRule ^pvmsg$ dispatch.php?p=pvmsg [QSA,L]
RewriteRule ^pvmsg/(.+)$ dispatch.php?p=pvmsg/$1 [QSA,L]
RewriteRule ^pvmsgFromSpecial$ dispatch.php?p=pvmsgFromSpecial [QSA,L]

RewriteRule ^redir$ dispatch.php?p=redir [QSA,L]

RewriteCond %{QUERY_STRING} ^sid=([^&]+)$
RewriteRule ^shop/([0-9]+)/buy$ dispatch.php?p=shop/[id]/buy&id=$1&sid=%1 [L]
RewriteRule ^shop/([0-9]+)/buy$ dispatch.php?p=shop/[id]/buy&id=$1 [L]
RewriteRule ^shop$ dispatch.php?p=shop [QSA,L]
RewriteRule ^shop/(.+)$ dispatch.php?p=shop/$1 [QSA,L]

RewriteRule ^smileyTip$ dispatch.php?p=smileyTip [QSA,L]

RewriteRule ^sponsor/embed.js$ dispatch.php?p=sponsor/embed.js [QSA,L]

RewriteRule ^static/(.+)$ dispatch.php?p=static/$1 [QSA,L]

RewriteRule ^user/([0-9]+)/addBlackContact$ dispatch.php?p=user/[id]/addBlackContact&id=$1 [QSA,L]
RewriteRule ^user/([0-9]+)/addContact$ dispatch.php?p=user/[id]/addContact&id=$1 [QSA,L]
RewriteRule ^user/([0-9]+)/remBlackContact$ dispatch.php?p=user/[id]/remBlackContact&id=$1 [QSA,L]
RewriteRule ^user/([0-9]+)/remContact$ dispatch.php?p=user/[id]/remContact&id=$1 [QSA,L]
RewriteRule ^user/(.+)$ dispatch.php?p=user/$1 [QSA,L]


# Empêche l'affichage des pages HTML sans passer par l'interpréteur PHP.
RewriteRule ^pages/static(/.*)?$ - [QSA,L]
RewriteRule ^pages/(.+).html$ dispatch.php?p=$1 [QSA,L]
RewriteRule ^pages/(.+).js$ dispatch.php?p=$1.js [QSA,L]


# Le nom des fichiers mp3 avait été changé par inadvertance dans l'archive. Leur nom d'origine a depuis été rétabli.
# Les noms qui avaient été utilisés restent conservés ici pour les versions 1.2 à 1.5 du loader (dossier "_toad06").
RewriteRule ^sound/__constructs__.mp3$ sound/empty.mp3 [L] # Il s'agit d'une erreur de programmation, un fichier factice a été ajouté pour éviter une erreur 404.
RewriteRule ^sound/my_turn.mp3$ sound/_MyTurn.mp3 [L]
RewriteRule ^sound/new_challenge.mp3$ sound/_NewDefy.mp3 [L]
RewriteRule ^sound/new_mail.mp3$ sound/_NewMail.mp3 [L]
RewriteRule ^sound/game_started.mp3$ sound/_PartyStarted.mp3 [L]